* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-image: url(../imagenes/simonbanner.jpg);
    background-repeat: no-repeat; background-size: cover;
    background-position: center; background-attachment: fixed;
    background-color: #c6eeda;
    display: grid;
    place-items: center;
    min-height: 100dvh;
}

.container {
    border: 2px solid rgba(211, 211, 211, 0.133);
    width: 90%;
    max-width: 480px;
    padding: 30px 40px;
    border-radius: 10px;
    color: #fff;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.logo {
    width: 60px;
    display: block;
    margin-top: -10px;
}

.contact-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-title {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-top: -60px;
    margin-left: 68px;
    height: 25px;
}


.contact-subtitle {
    font-size: 13px;
    color: #fff;
}

.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 24px;
}

.span-all {
    grid-column: 1 / -1;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.contact-form label {
    color: #fbfcfd;
    font-size: 13px;
}

.form-group :is(input, textarea) {
    padding: 14px 12px;
    border-radius: 8px;
    font-size: 14px;
    outline: 0;
    background: transparent;
    border: 1px solid #fff;
    caret-color: #0F172A;
}

.form-group textarea {
    min-height: 110px;
    resize: none;
    scrollbar-width: thin;
    scrollbar-color: #06369d transparent;
}

.contact-form :is(input, textarea, button, a):focus {
    border-color: #0F172A;
    outline-color: #0F172A;
}

.contact-form :is(input, textarea)::selection {
    background: #0F172A;
    color: #0F172A;
}

.contact-form input[type="checkbox"] {
    accent-color: #0F172A;
}

.form-terms {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-terms a {
    color: #5283eb;
    text-decoration: none;
    font-weight: 500;
}

.form-terms a:hover {
    text-decoration: underline;
}

.submit-btn {
    font-size: 16px;
    font-weight: 500;
    padding-block: 14px;
    color: #fff;
    border: 0;
    background: linear-gradient(to right, #0F172A, #2563EB);
    border-radius: 8px;
    cursor: pointer;
}

.submit-btn:hover {
    background: linear-gradient(to left, #0F172A, #2563EB);
}

.form-group:has([required]) label::after {
    content: "*";
    color: red;
    font-size: 12px;
}

.form-group:has([required]) label {
    display: flex;
    gap: 4px;
}

