/*Creo un selector universal*/
* {
    margin: 0;
    padding: 0;
    /*Sirve para que el tamaño de los elementos no aumente cuando agregamos espacios internos padding o bordes*/
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;}

body {
    font-family: "Poppins", sans-serif;
    background-color:aliceblue;
    color: #333;}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.banner{
    min-height: 770px;                 
    background-size: cover;            
    background-position: center;      
    background-repeat: no-repeat;      /* Evita que la imagen se repita si es más pequeña */
    animation: marquee 10s infinite;    /* Ejecuta la animación llamada 'marquee' durante 10 segundos y se repite infinitamente */
}

/* Animación que cambia las imágenes del banner */
/*
@keyframes → Es la regla que crea y define la animación, osea por asi decirlo como una clase aunque no lo es.
marquee → Es el nombre de la animación. Aquí puedes ponerle el nombre que tu gustes. 
*/
@keyframes marquee{
/*
Tiempo de duración de los banners
0% - 30% → 3 segundos.
31% - 60% → 3 segundos.
61% - 100% → 4 segundos.
*/
    /*inicio*/
    0%,05%{
        background-image: url("../imagenes/Mn.jpg");
    }

    31%,50%{
        background-image: url("../imagenes/fox.jpeg");
    }

    50%,80%{
        background-image: url("../imagenes/erizo.jpeg"); 
    }
}

.logo {
    width: 160px;
    height: auto;}
    
.cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    text-align: center;}



 /*use margin y margin-top para subirlo un poco, estaba muy abajo*/   
.titulo-principal {
    margin: 0;
    margin-top: -18px;
    color: white;
    font-size: 80px ;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.2;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    font-family: satisfy,cursive}

.titulo-secundario {
    font-size: 15px;
    color: rgb(216, 127, 161);}

.pie-pagina {
    padding:20px;
    background-color: #333;
    color: beige;
    margin: 0 auto}
