* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*Sirve para que el tamaño de los elementos no aumente cuando agregamos espacios internos padding o bordes*/
    text-decoration: none;
    list-style: none;}


body {
    font-family: "Poppins", sans-serif;
    background-color: aliceblue;
    color: #333;}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;}

.banner {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
                url(imagenes/banner.png);
    background-position: center center;
    background-size: cover;  /*Hace que la imagen cubra todo el fondo*/
    padding: 50px 0;
    position: relative;}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between; /*Separa los elementos hacia los extremos*/
    padding: 15px 0;}


.logo {width: 170px;
    height: auto;}
    
.espacio-central-banner {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: calc(100vh - 80px); 
    text-align: center;}



/*NAVEGACION DE LA BARRA DEL MENU*/
.navegacion-barra{
    margin-top: -210px;
}

.navegacion-barra ul {
    display: flex;
    gap: 20px;}


/* Color de botones- barra navegacion*/
.navegacion-barra ul li a {
    font-size: 22px ;
    color: rgb(139, 11, 43);
    font-weight: 600;
    padding: 10px 15px;}

/* Estilo para cuando pase el mouse*/
.navegacion-barra ul li a:hover {
  color: goldenrod;}



.contenido {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;}

.contenido > div > div {
    display: flex;
    align-items: center; 
    gap: 30px; 
    margin-bottom: 40px; }

.foto1 img,
.foto2 img {
    width: 300px; 
    height: 250px; 
    object-fit: cover; /* Que la imagen llene todo sin deformarse*/
    border-radius: 6px; } /* Para redondear bordes*/


.texto1,
.texto2 {
        flex: 1; 
        font-size: 16px;
        line-height: 1.6;}

h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 65px;
}
.pie-pagina {
    padding:20px;
    background-color: #333;
    color: beige;
    margin: 0 auto}